/* Global Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.pt-130 {
    padding-top: 130px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.section_title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    margin-bottom: 20px;

}

.section_description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}

.btn_primary {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline-block;
    padding: 16px 20px;
    background-color: #FF5959;
    color: #fff;
    border: 1px solid #FF5959;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    border-radius: 5px;
}

.btn_primary:hover {
    color: #FF5959;
    background-color: transparent;
}

.content_wraper {
    max-width: 690px;
    margin: auto;
}

/* Banner Css */
.banner {
    padding: 175px 0;
    background: url(../assets/images/donation0.jpg), linear-gradient(to bottom, #1212126a 0%, #121212 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.banner_content_wraper {
    max-width: 826px;
    margin: auto;
}

.banner_title {
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner_description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 auto 30px;
    max-width: 690px;

}


/* Amount Section Css */
.donation_form {
    max-width: 765px;
    margin: 50px auto 0;
}

.donation_form form {}

.amounts_wraper {
    display: flex;
    flex-direction: row;
    gap: 22px;
    justify-content: center;
}

.amount_box {
    display: inline-block;
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    border-radius: 5px;
    padding: 44px 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;

}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked~.amount_box {
    border: 1px solid #FF5959;
    background: #FFEEEE;
    color: #FF5959;
}

.other_amount_wraper {
    margin-top: 60px;
    margin-bottom: 30px;
}

#other_amount {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #B3B3B3;
    border: none;
    border-bottom: 1px solid #DADADA;
    outline: none;
}

#other_amount:focus{
    border-color: #FF5959;
}

#other_amount:focus {
    color: #121212;
    font-size: 20px;
}



/* Donation Plan Section */

.donation_plans_container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;

}

.plan {
    padding: 55px 25px;
    border-radius: 4px;
    transition: 0.4s;
    transform: translateY(0);
}

.plan_one {
    background: rgba(79, 157, 166, 0.1);
}

.plan_two {
    background: rgba(255, 89, 89, 0.1);
}

.plan_three {
    background: #FFF4D6;
}

.plan:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.085);
}

.plan_icon {
    height: 50px;
    display: inline-block;
    margin-bottom: 30px;
}

.plan_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
    margin-bottom: 16px;
}

.plan_details {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}


/* Featured Section Css */
.featured_wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fetured_content_row {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fetured_content_row .section_description {
    margin-bottom: 30px;
}

.fetured_img_row {
    max-width: 500px;
}

.featured_wraper:not(:last-child) {
    margin-bottom: 100px;
}


/* Newsletter Section Css */
.newsletter_wraper {
    padding: 76px 190px;
    margin-top: 50px;
    background: #FFF4D6;
    border-radius: 5px;
}

.newsletter_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#email_form {
    padding: 14px 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AA9F9F;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: 1px solid #D9D9D9;
}

#email_form:focus {
    outline: 1px solid #FF5959;
}

.submit_btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #FF5959;
    border-radius: 0 5px 5px 0;
    padding: 14px 40px;
    border: 1px solid #FF5959;
}


/* Footer Css */
footer {
    padding: 45px 0;
    margin-top: 130px;
    background: #0B0D17;
}

.footer_title {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #FF5959;
    margin-bottom: 24px;
}

.footer_sub_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D9DBE1;
}